body {
    padding: 20px;
}

#contenedor-filtros {
    margin-bottom: 20px;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tarjeta-producto {
    border: 1px solid whitesmoke;
    padding: 15px;
    width: 220px;
    border-radius: 5px;
}
